Version
[x] A function should log the player and computer scores

Version 5
[x] The start button should start the game by being clicked

Version 4
[x] The game should keep track of the player and computer score
[x] The game should go to best of 5 
[x] The game should indicate who wins overall

Version 3
[x] Should prompt player for choice of rock, paper, or scissors.
[x] Should compare playerSelection to computerSelection to determine outcome

Version 2
[x] Player should be able to input choice of rock, paper, or scissors
[x] Input should be case insensitive
[x] Function should exist to assign playerSelection

Version 1
[x] Computer should be able to select rock, paper, or scissors randomly
[x] Function should assign computer to rock, paper or scissors
[x] RNG device needed